{% extends "base.html" %}
{% block content %}
    <div class="content">

        <span class="question_display">===> {{ question }}</span>
        <span class="question_display">可能的答案</span>
        <ul class="answer_list">
            {% for answer in answers %}
                <li>{{ answer }}</li>
            {% endfor %}
        </ul>
    </div>
    <div class="right">
        <span>热门问题搜索</span>
        <ul>
            <li><a href="#"> 北京位于哪里？</a></li>
            <li><a href="#"> 问题2</a></li>
            <li><a href="#"> 问题3</a></li>
            <li><a href="#"> 问题4</a></li>
            <li><a href="#"> 问题5</a></li>
        </ul>
    </div>
    <div>
        <a href="/">返回主页</a>
    </div>
{% endblock %}



