{% extends "base.html" %}
{% block content %}
    <div class="content">
        <ul>
            <li>
                <div>
                    <h2>地理信息查询</h2>
                    <span class="binary">判断对错</span>
                    <span class="ask">您可以像如下方式提问:</span>

                    <div class="ask_sentence">
                        <input type="text" class="fill">
                        <span>位于</span>
                        <input type="text" class="fill">
                        <span>吗?</span>
                        <span class="btn">提交</span>
                    </div>
                    <span class="example">例如：北京位于中国吗？</span>
                </div>
                <div>
                    <span class="binary">预测答案</span>
                    <span class="ask">您可以像如下方式提问:</span>

                    <div class="ask_sentence">
                        <input type="text" class="fill">
                        <span>位于</span>
                        <span>哪里?</span>
                        <span class="btn">提交</span>
                    </div>
                    <span class="example">例如：北京位于哪里？</span>
                </div>
            <li>
                <div>
                    <h2>影视信息查询</h2>
                    <span class="binary">判断对错</span>
                    <span class="ask">您可以像如下方式提问:</span>

                    <div class="ask_sentence">
                        <input type="text" class="fill">
                        <span>位于</span>
                        <input type="text" class="fill">
                        <span>吗?</span>
                        <span class="btn">提交</span>
                    </div>
                    <span class="example">例如：北京位于中国吗？</span>
                </div>
                <div>
                    <span class="binary">预测答案</span>
                    <span class="ask">您可以像如下方式提问:</span>

                    <div class="ask_sentence">
                        <input type="text" class="fill">
                        <span>位于</span>
                        <span>哪里?</span>
                        <span class="btn">提交</span>
                    </div>
                    <span class="example">例如：北京位于哪里？</span>
                </div>
            </li>

            <li>
                <div>
                    <h2>其他</h2>
                    <span class="binary">判断对错</span>
                    <span class="ask">您可以像如下方式提问:</span>

                    <div class="ask_sentence">
                        <input type="text" class="fill">
                        <span>位于</span>
                        <input type="text" class="fill">
                        <span>吗?</span>
                        <span class="btn">提交</span>
                    </div>
                    <span class="example">例如：北京位于中国吗？</span>
                </div>
                <div>
                    <span class="binary">预测答案</span>
                    <span class="ask">您可以像如下方式提问:</span>

                    <div class="ask_sentence">
                        <input type="text" class="fill">
                        <span>位于</span>
                        <span>哪里?</span>
                        <span class="btn">提交</span>
                    </div>
                    <span class="example">例如：北京位于哪里？</span>
                </div>
            </li>


        </ul>
    </div>

    <div class="right">
        <span>热门问题搜索</span>
        <ul>
            <li><a href="#"> 北京位于哪里？</a></li>
            <li><a href="#"> 问题2</a></li>
            <li><a href="#"> 问题3</a></li>
            <li><a href="#"> 问题4</a></li>
            <li><a href="#"> 问题5</a></li>
        </ul>
    </div>
{% endblock %}

