<html>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
<link rel="stylesheet" type="text/css" href="reset.css">
<title>自动问答系统</title>
<body>
<div class="wrap">
    <div class="head">自动问答系统</div>
    <div>
        <div class="left">
            <span class="predict">二分类</span>
                <span class="area">d1</span>
                <span class="area">d2</span>
                <span class="area">d3</span>
                <span class="area">d4</span>
            <span class="predict">实体预测</span>
                <span class="area">d1</span>
                <span class="area">d2</span>
                <span class="area">d3</span>
                <span class="area">d4</span>
        </div>
    </div>
    <div class="content">
        <form action="/submit" method="post">
            问题:
            <input type="text" name="question" id="question" value="北京 位于 哪里"/>
            <input type="submit" value="提交"/>

            <div>
                答案：<br/>
                <ul>
                    <li>答案1</li>
                    <li>答案2</li>
                    <li>答案3</li>
                    <li>答案4</li>
                </ul>
            </div>
        </form>
    </div>
    <div class="right">
        Top 5 问题搜索
        <ol>
            <li><a href="#"> 问题1</a></li>
            <li><a href="#"> 问题2</a></li>
            <li><a href="#"> 问题3</a></li>
            <li><a href="#"> 问题4</a></li>
            <li><a href="#"> 问题5</a></li>
        </ol>
    </div>
</div>
</div>
</body>
</html>
